@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  line-height: 1.6;
  background: linear-gradient(rgba(0, 0, 0, 0.2) 10%, rgba(0, 0, 0, 0) 40%),
    url(./assets/img/e46m3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.buttons {
  width: 150px;
}

.trans-bg {
  background: rgba(255, 255, 255, 0.6);
}
